<head>
  <title>Waiter Availability</title>
  <link rel="stylesheet" href="/css/waiter.css">
</head>
<h1>Asanda's Coffe Shop</h1>

<body>
  <form class="style" action="" method="post">
    <label for="name">Waiter's name:</label>
    <input type="text" name="waiter" required placeholder="type your name here...">
</body>

<div class="button1">
  <button type="submit" name="">Submit</button>
</div>
