<head>
  <title>Waiter Availability</title>
  <link rel="stylesheet" href="/css/waiter.css">
</head>
<h1>Waiter Availability</h1>

<p><b>Hello {{waitersName}}, please select 3 days you want to work during the week.</b></p>
<br>
<form class="check" action="" method="post">
  <input type="checkbox" name="days" value="Monday" >Monday
  <input type="checkbox" name="days" value="Tuesday" >Tuesday
  <input type="checkbox" name="days" value="Wednesday" >Wenesday
  <input type="checkbox" name="days" value="Thursday" >Thursday
  <input type="checkbox" name="days" value="Friday" >Friday
  <input type="checkbox" name="days" value="Saturday" >Saturday
  <input type="checkbox" name="days" value="Sunday" >Sunday
  <button type="submit" name="bttn" required="">Submit</button>
</form>
<br>

<ul>
  <li>
    <p>{{days}}</p>
    {{data}}
  </li>
</ul>
<p>{{messages.error}}</p>
<br>
<a href="/index">Add waiter's name</a>
