body {
  background-color: lightblue;
  font-size: 27px;
  font-style: italic;
}

.style {
  padding-left: 34%;
}

.check {
  padding-left: 13%;
}

li {
  list-style-type: none;
}

h1 {
  padding-left: 19%;
  font-size: 334%;
}

p {
  padding-left: 19%;
}

table, th, td {
  border: 1px solid black;
  border-collapse: collapse;
  width: 18%;
  font-size: 24px;
  margin-left: 11%;
}

tr {
  background-color: White;
}

.firstColor {
  background-color: yellow;
}

.secondColor {
  background-color: green;
}

.thirdColor {
  background-color: red;
}

.yellow {
  background-color: yellow;
  vertical-align: middle;
  border-radius: 9em;
  display: table-cell;
  width: 6em;
  height: 2em;
  font-size: 1em;
}

.green {
  background-color: green;
  vertical-align: middle;
  border-radius: 9em;
  display: table-cell;
  width: 7em;
  height: 2em;
  font-size: 1em;
}

.red {
  background-color: red;
  vertical-align: middle;
  border-radius: 9em;
  display: table-cell;
  width: 7em;
  height: 2em;
  font-size: 1em;
}
