    body {
      background-color: lightblue;
      font-size: 27px;
      font-style: italic;
    }


    .checkbox {
      padding-left: 8%;
    }

    .style {
      padding-left: 34%;
    }

    .home {
      font-size: 73%;
      margin-top: -3em;
      margin-left: 7em;
    }

    b {
      padding-left: 27%;
    }

    ul {
      list-style-type: none;
    }

    h1 {
      padding-left: 19%;
      font-size: 334%;
    }

    p {
      padding-left: 15%;
    }

    table, th, td {
      border: 1px solid black;
      border-collapse: collapse;
      width: 60%;
      font-size: 28px;
      margin-left: 11%;
      padding: -1px -4px 40px 60px;
    }

    th {
      background-color: orange;
    }

    .firstColor {
      background-color: yellow;
    }

    .secondColor {
      background-color: green;
    }

    .thirdColor {
      background-color: red;
    }

    .yellow {
      background-color: yellow;
      border-radius: 28px;
      font-weight: bold;
      font-size: 78%;
      padding: 5px 0px 5px 10px;
      width: 10%;
      list-style-type: none;
      float: left;
      margin: 7px 192px;
    }

    .green {
      background-color: green;
      border-radius: 28px;
      font-weight: bold;
      font-size: 72%;
      padding: 5px 13px 8px 18px;
      width: 10%;
      list-style-type: none;
      float: left;
      margin: 8px -183px;
    }

    .red {
      background-color: red;
      border-radius: 28px;
      font-weight: bold;
      font-size: 80%;
      padding: 4px 16px 4px 12px;
      float: left;
      margin: 10px -14px;
    }

    .bttn {
      padding: 4px 16px 4px 12px;
      border-radius: 23em;
    }

    button {
      font-size: 17px;
      font-style: inherit;
      margin-top: 3em;
      margin-left: 23em;
      border-radius: 23em;
    }
